<nav class="uk-navbar-container uk-margin uk-navbar-transparent uk-margin-remove-bottom" uk-navbar>



            <div class="uk-navbar-right">
                <div class="uk-navbar-item">
                    <form action="javascript:void(0)">
                        <input class="uk-input uk-form-width-small" type="text" placeholder="输入关键字">
                        <button class="uk-button uk-button-default">搜索</button>
                    </form>
                </div>
                    <span>{{ request.user.username }}</span>
                </div>

</nav>