<div class="uk-background-primary uk-light uk-visible@s sidebar">
    <h3>
        <a href="" class="uk-navbar-item uk-logo"><img uk-svg="" src="http://getuikit.dev-tang.com/skin/ukv3/images/uikit-logo.svg" class="uk-margin-small-right" hidden="true"><svg width="28" height="34" viewBox="0 0 28 34" xmlns="http://www.w3.org/2000/svg" class="uk-margin-small-right uk-svg" data-svg="http://getuikit.dev-tang.com/skin/ukv3/images/uikit-logo.svg">
            <polygon fill="#fff" points="19.1,4.1 13.75,1 8.17,4.45 13.6,7.44 "></polygon>
            <path fill="#fff" d="M21.67,5.43l-5.53,3.34l6.26,3.63v9.52l-8.44,4.76L5.6,21.93v-7.38L0,11.7v13.51l13.75,8.08L28,25.21V9.07 L21.67,5.43z"></path>
        </svg> UIkit</a>
    </h3>
{% if request.user.is_authenticated %}
    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>

        <li class="uk-nav-header"></li>
        <li class="uk-nav-header"><a href="#">快捷菜单</a></li>
        {% if not request.user.is_teacher %}
        <li><a href="{% url 'student:knowledgepoint' %}"><span class="uk-margin-small-right" uk-icon="icon: file-text"></span> 知识点讲解</a></li>
            <li><a href="{% url 'student:examlist' %}"><span class="uk-margin-small-right" uk-icon="icon: file-text"></span> 考试列表</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="{% url 'student:wrong' %}"><span class="uk-margin-small-right" uk-icon="icon: warning"></span> 错题集</a></li>
        {% else %}
            <li><a href="{% url 'teacher:release' %}"><span class="uk-margin-small-right" uk-icon="icon: file-text"></span> 发布考试</a></li>
            <li><a href="{% url 'teacher:examlist' %}"><span class="uk-margin-small-right" uk-icon="icon: list"></span> 考试列表</a></li>
        {% endif %}

    </ul>
    <a class="uk-button uk-button-default uk-width-1-1 uk-margin-top uk-button-small" href="{% url 'user:logout' %}">退出登录</a>
    {% else %}
    <a class="uk-button uk-button-default uk-width-1-1 uk-margin-top uk-button-small" href="{% url 'user:login' %}">登录</a>
    <a class="uk-button uk-button-default uk-width-1-1 uk-margin-top uk-button-small" href="{% url 'user:register' %}">注册</a>
{% endif %}
</div>