<form action="{% url 'user:register' %}" method="post" class="uk-form-horizontal">
    {% csrf_token %}
        {% for i in form.errors.values %}
{{ i|safe }}
        {% endfor %}

            {% for field in form %}
    <div class="">
    <div class="uk-margin">
    <label class="uk-form-label" for="pwdprotect">{{ field.label }}</label>
        <div class="uk-form-controls">
         {{ field }}
    </div>
</div>
    </div>
{% endfor %}

{#按钮#}

<div class="uk-margin">
<button class="uk-button uk-button-primary uk-width-1-1">注册</button>
    </div>
</form>